<!-- base.html -->
<html layout:decorator="/base" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
    <div layout:fragment="content">
    <div class="container" style="width: 100%;text-align: center">
        <div class="video-header">
            <div class="video-banner"  id="video-header-left">
                <a class="live-item" href="#">
                    <div class="cell">
                        <div class="title-index">
                            <div class="title-index-left">
                                <span class="before-circle"></span>
                                <span class="title">
                                    <strong>
                                        本周上新
                                    </strong>
                                </span>
                            </div>
                            <span class="desc">
			                    组合框事件与checkbox显示隐藏文件
		                    </span>
                        </div>
                    </div>
                </a>
                <a class="live-item" href="#">
                    <div class="cell">
                        <div class="title-index">
                            <div class="title-index-left">
                                <span class="before-circle"></span>
                                <span class="title">
                                    <strong>
                                        本周上新
                                    </strong>
                                </span>
                            </div>
                            <span class="desc">
			                    组合框事件与checkbox显示隐藏文件
		                    </span>
                        </div>


                    </div>
                </a>
                <a class="live-item" href="#">
                    <div class="cell">
                        <div class="title-index">
                            <div class="title-index-left">
                                <span class="before-circle"></span>
                                <span class="title">
                                    <strong>
                                        本周上新
                                    </strong>
                                </span>
                            </div>
                            <span class="desc">
			                    组合框事件与checkbox显示隐藏文件
		                    </span>
                        </div>


                    </div>
                </a>
                <a class="live-item" href="#">
                    <div class="cell">
                        <div class="title-index">
                            <div class="title-index-left">
                                <span class="before-circle"></span>
                                <span class="title">
                                    <strong>
                                        本周上新
                                    </strong>
                                </span>
                            </div>
                            <span class="desc">
			                    组合框事件与checkbox显示隐藏文件
		                    </span>
                        </div>


                    </div>
                </a>
                <a class="live-item" href="#">
                    <div class="cell">
                        <div class="title-index">
                            <div class="title-index-left">
                                <span class="before-circle"></span>
                                <span class="title">
                                    <strong>
                                        本周上新
                                    </strong>
                                </span>
                            </div>
                            <span class="desc">
			                    组合框事件与checkbox显示隐藏文件
		                    </span>
                        </div>


                    </div>
                </a>
            </div>
            <div class="video-banner" id="video-header-right">
                <div id="carousel-ad" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">

                        <li data-target="#carousel-ad" data-slide-to="0" class="active"></li>

                        <li data-target="#carousel-ad" data-slide-to="1"></li>

                        <li data-target="#carousel-ad" data-slide-to="2"></li>

                    </ol>

                    <div class="carousel-inner" role="listbox">

                        <div class="item active"><div class="image"></div></div>

                        <div class="item"><div class="image"></div></div>

                        <div class="item"><div class="image"></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-index">
        <div class="video-banner" id="video-list-header">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">推荐的</a></li>
                <li role="presentation"><a href="#" >热门的</a></li>
                <li role="presentation" id="video-nav1"><a href="#" >最新发布</a></li>
                <li role="presentation" id="video-nav2"><a href="#" >朋友在看</a></li>
            </ul>
            <div class="video-list">
                <div class="video-banner video-list-content">
                    <div class="video-thumbnail" style="cursor: pointer;">
                        <div class="item"  id="item" style="width: 100%;height: 100%;box-shadow:0 0 0 1px #cCC;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                            <div class="video-img">
                                <img src="/resources/images/1.jpg" alt="...">
                            </div>
                            <div class="video-note">
                                <span class="video-title">WEB安全攻防实战</span>
                                <div class="video-author">
                                    <span class="author" href="/u/songboy">tangqingsong</span>
                                </div>
                                <div class="video-price">
                                    <span class="curPrice">￥68.00</span>
                                    <del class="prePrice">￥98.00</del>
                                    <span class="join-num">303人参与</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-banner video-list-content">
                    <div href="#" class="video-thumbnail">
                        <div class="item" style="width: 100%;height: 100%;box-shadow:0 0 0 1px #cCC;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                            <div class="video-img">
                                <img src="/resources/images/1.jpg" alt="...">
                            </div>
                            <div class="video-note">
                                <span class="video-title">WEB安全攻防实战</span>
                                <div class="video-author">
                                    <span class="author" href="/u/songboy">tangqingsong</span>
                                </div>
                                <div class="video-price">
                                    <span class="curPrice">￥68.00</span>
                                    <del class="prePrice">￥98.00</del>
                                    <span class="join-num">303人参与</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-banner video-list-content">
                    <div href="#" class="video-thumbnail">
                        <div class="item" style="width: 100%;height: 100%;box-shadow:0 0 0 1px #cCC;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                            <div class="video-img">
                                <img src="/resources/images/1.jpg" alt="...">
                            </div>
                            <div class="video-note">
                                <span class="video-title">WEB安全攻防实战</span>
                                <div class="video-author">
                                    <span class="author" href="/u/songboy">tangqingsong</span>
                                </div>
                                <div class="video-price">
                                    <span class="curPrice">￥68.00</span>
                                    <del class="prePrice">￥98.00</del>
                                    <span class="join-num">303人参与</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-banner video-list-content">
                    <div href="#" class="video-thumbnail">
                        <div class="item" style="width: 100%;height: 100%;box-shadow:0 0 0 1px #cCC;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                            <div class="video-img">
                                <img src="/resources/images/1.jpg" alt="...">
                            </div>
                            <div class="video-note">
                                <span class="video-title">WEB安全攻防实战</span>
                                <div class="video-author">
                                    <span class="author" href="/u/songboy">tangqingsong</span>
                                </div>
                                <div class="video-price">
                                    <span class="curPrice">￥68.00</span>
                                    <del class="prePrice">￥98.00</del>
                                    <span class="join-num">303人参与</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-banner video-list-content">
                    <div href="#" class="video-thumbnail">
                        <div class="item" style="width: 100%;height: 100%;box-shadow:0 0 0 1px #cCC;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                            <div class="video-img">
                                <img src="/resources/images/1.jpg" alt="...">
                            </div>
                            <div class="video-note">
                                <span class="video-title">WEB安全攻防实战</span>
                                <div class="video-author">
                                    <span class="author" href="/u/songboy">tangqingsong</span>
                                </div>
                                <div class="video-price">
                                    <span class="curPrice">￥68.00</span>
                                    <del class="prePrice">￥98.00</del>
                                    <span class="join-num">303人参与</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-banner video-list-content">
                    <div href="#" class="video-thumbnail">
                        <div class="item" style="width: 100%;height: 100%;box-shadow:0 0 0 1px #cCC;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                            <div class="video-img">
                                <img src="/resources/images/1.jpg" alt="...">
                            </div>
                            <div class="video-note">
                                <span class="video-title">WEB安全攻防实战</span>
                                <div class="video-author">
                                    <span class="author" href="/u/songboy">tangqingsong</span>
                                </div>
                                <div class="video-price">
                                    <span class="curPrice">￥68.00</span>
                                    <del class="prePrice">￥98.00</del>
                                    <span class="join-num">303人参与</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="video-banner" style="width: 25%;float: left;padding-left: 15px;padding-right: 15px;" id="video-list-right">
            <div class="hidden-xs" style="padding-left: 0;margin-bottom: 20px;">
                <a href="" class="list-group-item">
                    <span class="badge"></span>
                    我发起的
                </a>
                <a href="" class="list-group-item">
                    <span class="badge"></span>
                    我参与的
                </a>
                <a href="" class="list-group-item">
                    <span class="badge"></span>
                    我收藏的
                </a>
            </div>
            <div class="live-index-side-evaluate hidden-evaluate">
                <h4 class="evaluate-title">评价</h4>
                <div class="item">
                    <div class="mb5">
                        <a class="author mr5" href="/u/jason_583d82a0871a4">
                            紫宸
                        </a>
                        <span class="live__intro-info-item-title">
                            <div class="live__intro--star-container item-star-score-10">
                                <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                                <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                                <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                                <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                                <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                                <div class="star-half-container">
                                    <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                    <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                    <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                    <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                    <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                </div>
                            </div>
                        </span>
                    </div>
                    <p>老师讲的挺棒的，好多都讲到点上了，有些不清楚的地方一下子就明白了，很受用！</p>
                    <div class="from">
                        <span class="pull-right info">
                            来自
                            <a href="/l/1500000010412101?utm_source=recommend_web-live-score">
                                程序员价值最大化 - 如何在面试中脱颖而出
                            </a>
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="mb5">
                        <a class="author mr5" href="/u/suee">
                            suee
                        </a>
                        <span class="live__intro-info-item-title">
                        <div class="live__intro--star-container item-star-score-10">
                            <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                            <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                            <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                            <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                            <i class="fa fa-star" aria-hidden="true" style="font-size:14px"></i>
                            <div class="star-half-container">
                                <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                                <i class="fa fa-star-half" aria-hidden="true" style="font-size:14px; width:13px"></i>
                            </div>
                        </div>
                    </span>
                    </div>
                    <p>谢 Jrain 老师，很棒！听完感觉我也要动手写一个~</p>
                    <div class="from">
                    <span class="pull-right info">
                        来自讲座
                        <a href="/l/1500000009986951?utm_source=recommend_web-live-score">Vue实战：打造属于你的博客发布系统</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
