<!-- base.html -->
<html layout:decorator="/base" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div class="container video-intro" style="width: 100%;text-align: center">
        <ol class="breadcrumb">
            <li><a href="#">讲堂</a></li>
            <li><a href="#">最新推荐</a></li>
            <li class="active">视频详情</li>
        </ol>
        <div class="video_intro-heading">
            <h2 class="video_intro-title">快速上手Golang开发</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="video__intro-block video__intro-block--main">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="video__intro-banner program-bgimg-sign program-bgimg-sign-live" style="background-image: url('https://live-static.segmentfault.com/340/983/3409833912-5c0296570e995_render')" data-bannerurl="https://live-static.segmentfault.com/340/983/3409833912-5c0296570e995_render" data-sharebannerurl=""></div>
                        </div>
                        <div class="col-md-6 pl0 col-sm-12">
                            <div class="video__intro-info">
                                <div class="video__intro-info-item info-block">
                                    <div class="video__intro--item-price">
                                        <span class="video__intro-info-item-title">
                                             价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：
                                            <span class="video__intro-info-price">
                                                <span style="font-size:14px;">￥</span>12.12

                                            </span>
                                        </span>
                                    </div>
                                    <div class="video__intro--item-score">
                                        <span class="video__intro-info-item-title">
                                            <span>讲座评分：</span>
                                            评分不足
                                        </span>
                                    </div>
                                    <div class="video__intro--item-date">
                                        <span class="video__intro-info-item-title">
                                            <span>视频时长：</span>
                                            <strong class="video__intro-info-starttime">1小时27分钟</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="video__intro-info-item joinde-block">
                                    <div class="video__intro-join">
                                        <a class="video__intro-join-user" href="/u/kg">
                                            <img title="申法宽" src="https://avatar-static.segmentfault.com/201/086/2010861066-582bb75a125d8_medium40">
                                        </a>
                                        <a class="video__intro-join-user" href="/u/kg">
                                            <img title="申法宽" src="https://avatar-static.segmentfault.com/201/086/2010861066-582bb75a125d8_medium40">
                                        </a>
                                        <a class="video__intro-join-user" href="/u/kg">
                                            <img title="申法宽" src="https://avatar-static.segmentfault.com/201/086/2010861066-582bb75a125d8_medium40">
                                        </a>
                                        <a class="video__intro-join-user" href="/u/kg">
                                            <img title="申法宽" src="https://avatar-static.segmentfault.com/201/086/2010861066-582bb75a125d8_medium40">
                                        </a>
                                        <a class="video__intro-join-user" href="/u/kg">
                                            <img title="申法宽" src="https://avatar-static.segmentfault.com/201/086/2010861066-582bb75a125d8_medium40">
                                        </a>
                                        <a class="video__intro-join-user" href="/u/kg">
                                            <img title="申法宽" src="https://avatar-static.segmentfault.com/201/086/2010861066-582bb75a125d8_medium40">
                                        </a>
                                    </div>
                                    <span class="video__intro-info-nojoin">
                                        等 33人参与
                                    </span>
                                </div>
                                <div class="video__intro-info-item intro-btn-block">
                                    <button type="button" id="joinLiveBtn" data-price="12.12" data-id="1500000017221003" class="btn btn-primary btn-lg mr10 ">
                                        购买视频
                                    </button>
                                    <a class="btn btn-warning btn-lg" href="/l/1500000017221003/freeplay">
                                        试看视频
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs mb20">
                    <li class="active">
                        <a href="#speaker-info">目录</a>
                    </li>
                    <li>
                        <a href="#content-into">笔记</a>
                    </li>
                    <li>
                        <a href="#users-evaluation">用户评价 (2)</a>
                    </li>
                </ul>
                <div class="live__intro-block" id="speaker-info" style="text-align: left">
                    <h4 class="live__intro-block-title mb20">讲师信息</h4>
                    <div class="live__intro-block-detail live__intro-block-detail--speaker">
                        <div class="live__speaker-info">
                            <img class="live__speaker-avatar" src="https://avatar-static.segmentfault.com/357/746/3577469296-59aebb8e34152_big64">
                            <div class="live__speaker-meta">
                                <strong class="live__speaker-name"><a href="/u/kaige">凯威的讲堂</a></strong>
                            </div>
                        </div>
                        <div class="mt10 ">
                            <p>凯威老师毕业于北京大学，先后就职于百度、Amazon、粉笔网。 曾管理数十人团队，负责百度外卖Rank&amp;推荐系统、亚马逊全球物流等千万量级产品。擅长高并发高稳定性后端系统开发，向学生深入浅出传授核心技术。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default mb20" style="text-align: left">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            讲师信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="program-recommend">
                            <div class="live__intro-block-detail live__intro-block-detail--speaker">
                                <div class="live__speaker-info">
                                    <img class="live__speaker-avatar" src="https://avatar-static.segmentfault.com/344/030/3440301964-5760d1e306dfc_big64">
                                    <div class="live__speaker-meta">
                                        <strong class="live__speaker-name">
                                            <a href="/u/piano">Kyrie</a>
                                        </strong>
                                    </div>
                                </div>
                                <div>
                                    <p>就职于某一线大厂，Golang项目经验丰富，不能带你飞就带你浪</p>
                                </div>
                                <div class="live__speaker-">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mb20" style="text-align: left">
                    <div class="panel-heading">
                        <h3 class="panel-title">讲师的相关视频</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 5px ">
                        <div class="program-recommend">
                            <div class="program-recommend-title">
                                <a href="/l/1500000017265804" target="_blank">
                                    <strong style="margin: 0">聊聊Raft算法</strong>
                                </a>
                                <span>12 人参与</span>
                            </div>
                        </div>
                        <div class="program-recommend" >
                            <div class="program-recommend-title">
                                <a href="/l/1500000017265804" target="_blank">
                                    <strong style="margin: 0">聊聊Raft算法</strong>
                                </a>
                                <span>12 人参与</span>
                            </div>
                        </div>
                        <div class="program-recommend" >
                            <div class="program-recommend-title">
                                <a href="/l/1500000017265804" target="_blank">
                                    <strong style="margin: 0">聊聊Raft算法</strong>
                                </a>
                                <span>12 人参与</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
